
body{
    background: url("media/img/parliamentBackground.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    text-align: center;
}

input {
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: 3px solid black;
}

button {
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    max-height: auto;
    max-width: auto;
}

p {

    font-family: "Tahoma", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.verification{
    color:red;
    border-color: black;
    border-style: solid;
    padding: 5px 2px 2px 2px; /* I cant figure out how to make it shorter. Can you please make the margin shorter */
    background: lightgrey;
    -webkit-animation: verification 3s 1; /* Chrome, Safari, Opera */
    animation: verification 3s 1;
}
@keyframes verification {
    from {background-color: red;}
    to {background-color: lightgrey;}
}